.loader {
    position: fixed;
    z-index: 9999;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}