span.title {
    color: #000;
    font-size: 16px;
}

span.address,
span.isOpen,
span.type {
    font-size: 14px;
    line-height: 1.58;
    color: rgba(0,0,0,.54);
    text-transform: capitalize;
}

  .hoverColor:hover {
    background: #f9f9f9;cursor: pointer;
  }

.pagination {
    padding: 15px;
    display: flex;
    justify-content: center;

  .loadMore {
    background: #ea4335;
    padding: 8px 33px;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #ea4335;
    transition: .4s all;

    &:hover {
      background: transparent;
      border-color: #ea4335;
      color: #ea4335;
      transition: .2s all;
  }
  }
}
