<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <div class="container">
      <div class="row">
        <div class="col pt-3"
        [ngClass]="{'mb-37':isDetails}">
          <app-search-input [isDetails]="isDetails"></app-search-input>
        </div>
        <div class="d-block w-100 border-top"></div>
        <div class="col pt-3">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <mat-icon (click)="sidenav.toggle()">navigate_before</mat-icon> -->
    <app-gmap></app-gmap> 
  </mat-sidenav-content>

</mat-sidenav-container>